<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrousel 1</title>
</head>
<body>
  <section class="carrousel">
    <div class="carrousel__container">
      <div class="carrousel-item">
        <img class="carrousel-item__img" src="https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="People">
        <div class="carrousel-item__details">
          <div>
            <img src="./icons/play-icon.png" alt="Play" >
            <img src="./icons/plus-icon.png" alt="Plus" >
          </div>
          <p class="carrousel-item__details--title">Titulo descriptivo</p>
          <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>
      <div class="carrousel-item">

      </div>
    </div>
  </section>
</body>
</html>